.root {
    background: #202736;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
}

.root::before {
    content: '';
    position: fixed;
    background: url('https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a83c9ee4-6981-4ba7-8955-4ceac8f9778f/Stars.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210909%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210909T171605Z&X-Amz-Expires=86400&X-Amz-Signature=a8a61a2070e83b52c2998efe989f2ddd86dbf34123a87fe136793927bbf7255d&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Stars.svg%22');
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    animation: stars-move-in 1000ms 300ms forwards;
    opacity: 0;
}

@keyframes stars-move-in {
    from {
        background-position-y: -100px;
    }
    to {
        opacity: 1;
        background-position-y: 0;
    }
}

.forest {
    position: absolute;
    bottom: -300px;
    left: 0;
    background: url('https://s3.us-west-2.amazonaws.com/secure.notion-static.com/25bb5944-e49b-4e34-b4fd-374d5a7598ea/Trees.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210909%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210909T171927Z&X-Amz-Expires=86400&X-Amz-Signature=d2fa6cac51fbc7e1732cf962075c3b5797bf317adfa44384fc9ccded3a0f5a7e&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Trees.svg%22') bottom left repeat-x;
    background-size: cover;
    width: 100%;
    height: 80%;
    opacity: 0;
    animation: forest-move-in 1000ms 500ms forwards;
    border-bottom: 300px solid #181d23;
}

@keyframes forest-move-in {
    from {
        background-position-y: 150%;
    }
    to {
        opacity: 1;
        background-position-y: 100%;
    }
}

.container {
    width: fit-content;
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: text-fade-in 1000ms 800ms forwards;
}

@keyframes text-fade-in {
    from {
        right: 0;
    }
    to {
        opacity: 1;
        right: 25%;
    }
}

.container h1 {
    font-size: 65px;
    font-weight: normal;
    font-style: italic;
    color: #fafafa;
    line-height: 65px;
}

.container p {
    font-size: 28px;
    font-weight: normal;
    color: #fafafa;
    line-height: 32px;
}
